[general]
;; secret used to encrypt the session
secret = CHANGEME
;; admins must approve comments new comments
;approval
;; list of websites that are allowed to post comments
;origin = http://host1.com
;origin = http://host2.com
;; uncomment to allow markdown in comments
;markdown
[database]
;; database driver: sqlite3, mysql, postgres
driver = sqlite3
;; for sqlite3
access = disgo.sqlite3
;; for mysql
;access = username:password@tcp(localhost:3306)/dbname
;; for postgres
;access = user=username dbname=password host=localhost password=password sslmode=disable
[rate-limit]
;; enable rate limiting
;enable
;; maximum number of comments
;max-comments = 5
;; duration to check
;seconds = 3600 # 1 hour
[email]
;; uncomment the following to activate email notifications
;notify
from = mail@example.com
;; list of recipients
to = mail@example.com
;; SMTP plain auth
username = my_username
password = my_password
host = smtp.gmail.com
port = 587
