[general]
;; secret used to encrypt the sessionstore
secret = CHANGEME
;; if set admins must approve comments new comments
;approval
;; list of websites that are allowed to post comments
;origin = http://host1.com
;origin = http://host2.com
;; uncomment to allow markdown in comments
;markdown
;; templates directory (default: templates)
;templates = templates
;; prefix all paths (default: /)
;; useful if you're hosting disgo behind a reverse proxy
;prefix = /disgo

[database]
;; database driver: mysql, postgres
driver = postgres
;; for mysql
;access = username:password@tcp(localhost:3306)/dbname
;; for postgres
access = user=username dbname=password host=localhost password=password sslmode=disable

[rate-limit]
;; enable rate limiting
;enable
;; maximum number of comments
;max-comments = 5
;; duration to check
;seconds = 3600 # 1 hour

[email]
;; uncomment the following to activate email notifications
;notify
from = mail@example.com
;; list of recipients
to = mail@example.com
;; SMTP plain auth
username = my_username
password = my_password
host = smtp.gmail.com
port = 587
