<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Disgo - Admin</title>
        <base href="{{base}}">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/admin/normalize.min.css">
        <link rel="stylesheet" href="css/admin/foundation.min.css">
        <link rel="stylesheet" href="css/admin/layout.css">
    </head>
    <body>

        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="admin"><img src="img/disgo.svg" alt=""> Disgo</a></h1>
            </li>
          </ul>

          <section class="top-bar-section">
            <ul class="right">
              <li><a href="admin/">Recent comments</a></li>
              <li><a href="admin/unapproved">Unapproved comments</a></li>
              <li class="has-form"><form action="logout" method="POST"><button class="button">Logout</button></form></li>
            </ul>
          </section>
        </nav>

        <div class="row">
            <div class="large-6 columns">
                {{ yield }}
            </div>
        </div>
        <footer>
          <a href="http://github.com/pascalj/disgo">Disgo</a> by <a href="http://www.pascalj.de">Pascal Jungblut</a> — MIT licence
        </footer>
    </body>
</html>
