<div class="row">
    <div class="large-6 columns">
        <form action="/login" method="POST">
            <h4>Please sign in</h4>
            <input type="email" name="email" placeholder="Email address" autofocus>
            <input type="password" name="password"  placeholder="Password">

            <button class="btn" type="submit">Sign in</button>
        </form>
    </div>
</div>
