<div class="row">
  <div class="12-large columns">
    <h3>Register new account</h3>
    <form action="/user" method="POST">
      <input type="email" name="email" placeholder="Email address" autofocus>
      <input type="password" name="password"  placeholder="Password">

      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
  </div>
</div>
