<div class="row">
  <div class="large-6 columns">
    <h3>Unapproved comments</h3>
    <div class="comments">
      {{range .comments}}
        {{template "admin/comment" .}}
      {{end}}
    </div>
  </div>
</div>
