<div class="disgo-wrapper">
  <form class="comments-form">
    <input type="text" name="name" placeholder="Name" value="{{.name}}" required>
    <input type="email" name="email" placeholder="Email" value="{{.email}}" required>
    <textarea name="body" placeholder="Your comment" required></textarea>
    {{if usesMarkdown}}
      <small><a href="http://daringfireball.net/projects/markdown/">Markdown</a> is enabled.</small>
    {{end}}
    <button>Comment</button>
    <input type="hidden" name="url" value="">
  </form>

  <div class="comments">
    {{range .comments}}
    <div class="comment" id="disgo-comment-{{.Id}}">
      <div class="date"><a href="#disgo-comment-{{.Id}}">{{.Created | formatTime}}</a></div>
      <div class="name">{{.Name}}</div>
      <img class="avatar" src="{{.Email | gravatar}}" alt=""/>
      {{if . | awaitingApproval}}
        <div class="awaiting-approval">
          This comment is not yet approved.
        </div>
      {{end}}

      <div class="comment-text">
        {{if usesMarkdown}}
          {{.Body | markdown}}
        {{else}}
          {{.Body | linebreak}}
        {{end}}
      </div>
    </div>

    {{end}}
  </div>
</div>
