<div class="comment">
  <div class="date">{{.comment.Created | formatTime}}</div>
  <div class="name">{{.comment.Name}}</div>
  <img class="avatar" src="{{.comment.Email | gravatar}}" alt=""/>
  {{if .comment | awaitingApproval}}
    <div class="awaiting-approval">
      This comment is not yet approved.
    </div>
  {{end}}

  <div class="comment-text">
    {{if usesMarkdown}}
      {{.comment.Body | markdown}}
    {{else}}
      {{.comment.Body}}
    {{end}}
  </div>
</div>
