<h3>Embedding</h3>
<p>To enable Disgo on your page, add the following line to your website:</p>

<pre class="hl panel"><span class="hl kwa">&lt;script&gt;</span>
<span class="hl kwa">var</span> disgo <span class="hl opt">= {</span>
    base<span class="hl opt">:</span> <span class="hl str">'{{.base}}'</span>
<span class="hl opt">}</span>
document<span class="hl opt">.</span><span class="hl kwd">write</span><span class="hl opt">(</span><span class="hl str">'&lt;script src=&quot;'</span> <span class="hl opt">+</span> disgo<span class="hl opt">.</span>base <span class="hl opt">+</span> <span class="hl str">'/js/disgo.js&quot;&gt;</span><span class="hl esc">\x3C</span><span class="hl str">/script&gt;'</span><span class="hl opt">)</span>
<span class="hl kwa">&lt;/script&gt;</span></pre>

<p>Add a comments section by providing an element with a data-disgo-url attribute. Example:</p>
<pre class="hl panel">
<span class="hl kwa">&lt;div</span> <span class="hl kwb">data-disgo-url</span>=<span class="hl str">&quot;http://example.com/2014/04/01/facebook-buys-golang&quot;</span><span class="hl kwa">&gt;&lt;/div&gt;</span></pre>
