<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Disgo - Admin</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/admin/normalize.min.css">
        <link rel="stylesheet" href="/css/admin/foundation.min.css">
        <link rel="stylesheet" href="/css/admin/layout.css">
    </head>
    <body>
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="/admin"><img src="/img/disgo.svg" alt=""> Disgo</a></h1>
            </li>
          </ul>
        </nav>

        <div class="row">
            <div class="large-6 columns">
                {{ yield }}
            </div>
        </div>
    </body>
</html>
