<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Disgo - Admin</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/admin/normalize.min.css">
        <link rel="stylesheet" href="css/admin/foundation.min.css">
        <link rel="stylesheet" href="css/admin/layout.css">
        <style type="text/css">
        pre.hl  { color:#000000; font-family:'Courier New',monospace;}
        .hl.num { color:#b07e00; }
        .hl.esc { color:#ff00ff; }
        .hl.str { color:#bf0303; }
        .hl.pps { color:#818100; }
        .hl.slc { color:#838183; font-style:italic; }
        .hl.com { color:#838183; font-style:italic; }
        .hl.ppc { color:#008200; }
        .hl.opt { color:#000000; }
        .hl.ipl { color:#0057ae; }
        .hl.lin { color:#555555; }
        .hl.kwa { color:#000000; font-weight:bold; }
        .hl.kwb { color:#0057ae; }
        .hl.kwc { color:#000000; font-weight:bold; }
        .hl.kwd { color:#010181; }
        a.button {
            float: right;
            margin-top: 15px;
        }
        </style>
    </head>
    <body>
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="admin"><img src="img/disgo.svg" alt=""> Disgo</a></h1>
            </li>
          </ul>

          {{if not .hideNav}}
          <section class="top-bar-section">
            <ul class="right">
              <li><a href="admin/">Recent comments</a></li>
              <li><a href="admin/unapproved">Unapproved comments</a></li>
              <li class="has-form"><form action="logout" method="POST"><button class="button">Logout</button></form></li>
            </ul>
          </section>
          {{else}}
          <section class="top-bar-section">
            <ul class="right">
                <li><a href="admin">Admin</a></li>
            </ul>
          </section>
          {{end}}
        </nav>

        <div class="row">
            <div class="large-6 columns">
                {{template "body"}}
            </div>
        </div>
    </body>
</html>
{{define "body"}}{{end}}